on:
  workflow_call:
    inputs:
      netSdkVersion:
        description: The primary .NET SDK version required for the build process, as per the syntax required by the 'setup-dotnet' action.
        required: true
        type: string
        default: '6.0.x'
      additionalNetSdkVersion:
        description: An additional .NET SDK version required for the build process, as per the syntax required by the 'setup-dotnet' action.
        required: false
        type: string
      pythonVersion:
        description: Specify an additional Python version required for the build process
        required: false
        type: string
      additionalCachePaths:
        description: Custom paths that need to be included in the multi-stage pipeline caching.
        required: false
        default: ''
        type: string
      configuration:
        description: The target build configuration.  
        required: false
        default: 'Release'
        type: string
      compilePhaseEnv:
        description: A JSON object representing the environment variables required when running the 'compile' stage of this workflow.
        required: false
        type: string
      testPhaseEnv:
        description: A JSON object representing the environment variables required when running the 'test' stage of this workflow.
        required: false
        type: string
      testArtifactName:
        description: If set, during the test phase, uploads a GitHub artifact with the provided name (path must be specified in `artifactPath`)
        required: false
        type: string  
      testArtifactPath:
        description: If set, during the test phase, uploads a GitHub artifact with the provided path (name must be specified in `artifactName`). The path can be a file, directory or wildcard pattern; multiple paths can be specified using newline demiliter.
        required: false
        type: string  
      packagePhaseEnv:
        description: A JSON object representing the environment variables required when running the 'package' stage of this workflow.
        required: false
        type: string
      publishPhaseEnv:
        description: A JSON object representing the environment variables required when running the 'publish' stage of this workflow.
        required: false
        type: string
      publishArtifactName:
        description: If set, during the publish phase, uploads a GitHub artifact with the provided name (path must be specified in `artifactPath`)
        required: false
        type: string  
      publishArtifactPath:
        description: If set, during the publish phase, uploads a GitHub artifact with the provided path (name must be specified in `artifactName`). The path can be a file, directory or wildcard pattern; multiple paths can be specified using newline demiliter.
        required: false
        type: string    
      forcePublish:
        description: When true, the Publish stage will be run regardless of the current branch or tag.
        required: false
        default: false
        type: boolean
      skipCleanup:
        description: When true the pipeline clean-up stage will not be run. For example, the cache used between pipeline stages will be retained.
        required: false
        default: false
        type: boolean
      buildScriptPath:
        description: The path to the build script to run.
        required: false
        default: ./build.ps1
        type: string
      runsOn:
        description: The operating system to run all stages of this workflow.
        required: false
        default: ubuntu-latest
        type: string

    secrets:
      compilePhaseAzureCredentials:
        required: false
      compilePhaseSecrets:
        description: A YAML string representing a dictionary of secrets required when running the 'compile' stage of this workflow.
        required: false
      testPhaseAzureCredentials:
        required: false
      testPhaseSecrets:
        description: A YAML string representing a dictionary of secrets required when running the 'test' stage of this workflow.
        required: false
      packagePhaseAzureCredentials:
        required: false
      packagePhaseSecrets:
        description: A YAML string representing a dictionary of secrets required when running the 'package' stage of this workflow.
        required: false
      publishPhaseAzureCredentials:
        required: false
      publishPhaseSecrets:
        description: A YAML string representing a dictionary of secrets required when running the 'publish' stage of this workflow.
        required: false
      secretsEncryptionKey:
        description: A string representing the shared secret used to encrypt the secrets YAML object.
        required: false

env:
  CODE_COVERAGE_SUMMARY_DIR: ${{ vars.CODE_COVERAGE_SUMMARY_DIR || '_codeCoverage' }}
  CODE_COVERAGE_SUMMARY_FILE: ${{ vars.CODE_COVERAGE_SUMMARY_FILE || 'SummaryGithub.md' }}

jobs:
  compile:
    name: Compile & Analyse
    runs-on: ${{ inputs.runsOn }}
    outputs:
      semver: ${{ steps.run_compile.outputs.semver }}
      major: ${{ steps.run_compile.outputs.major }}
      majorMinor: ${{ steps.run_compile.outputs.majorMinor }}
      preReleaseTag: ${{ steps.run_compile.outputs.preReleaseTag }}

    steps:
    - name: Enable long paths
      run: git config --global core.longpaths true
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      with:
        fetch-depth: 0
        submodules: true
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/set-env-vars-and-secrets@main
      with: 
        environmentVariablesYamlBase64: ${{ inputs.compilePhaseEnv}}
        secretsYamlBase64: ${{ secrets.compilePhaseSecrets}}
        secretsEncryptionKey: ${{ secrets.secretsEncryptionKey }}
    - name: Debug Variables
      if: env.ACTIONS_RUNNER_DEBUG == 'true'
      run: |
        gci env:/ | fl | out-string | Write-Host
      shell: pwsh
    - name: Check if compilePhaseAzureCredentials secret is set
      id: compilePhaseAzureCredentials_secret_check
      shell: bash
      run: |
        if [ "${{ secrets.compilePhaseAzureCredentials }}" != '' ]; then
          echo "available=true" >> $GITHUB_OUTPUT;
        else
          echo "available=false" >> $GITHUB_OUTPUT;
        fi
    - name: Azure CLI login
      if: ${{ steps.compilePhaseAzureCredentials_secret_check.outputs.available == 'true' }}
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5    # v2.3.0
      with:
        creds: ${{ secrets.compilePhaseAzureCredentials }}
        enable-AzPSSession: true
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/run-scripted-build@main
      id: run_compile
      with:
        displayName: Compile & Analyse
        buildScriptPath: ${{ inputs.buildScriptPath }}
        netSdkVersion: ${{ inputs.netSdkVersion }}
        additionalNetSdkVersion: ${{ inputs.additionalNetSdkVersion }}
        pythonVersion: ${{ inputs.pythonVersion }}
        tasks: 'Build,Analysis'
        configuration: ${{ inputs.configuration }}
        outputCacheKeySuffix: compile
        outputCachePaths: |
          .nuget-packages
          Solutions
          solutions
          ${{ inputs.additionalCachePaths }}
      env:
        # TODO: Add equivalent env var overrides for use with ZeroFailed
        BUILDVAR_AnalysisOutputStorageAccountName: ${{ vars.SBOM_OUTPUT_STORAGE_ACCOUNT_NAME}}
        BUILDVAR_AnalysisOutputContainerName: ${{ vars.SBOM_OUTPUT_STORAGE_CONTAINER_NAME}}
        BUILDVAR_AnalysisOutputBlobPath: ${{ vars.SBOM_OUTPUT_STORAGE_BLOB_BASE_PATH }}/src_platform=github/org=${{ github.repository_owner }}/repo=${{ github.event.repository.name }}
        BUILDVAR_PublishCovenantOutputToStorage: true
        BUILDVAR_CovenantMetadata: >
          {
            "git_provider": "github",
            "git_org": "${{ github.repository_owner }}",
            "git_repo": "${{ github.event.repository.name }}",
            "git_branch": "${{ github.ref_name }}", 
            "git_sha": "${{ github.sha }}"
          }

  test:
    needs:
    - compile
    name: Test
    runs-on: ${{ inputs.runsOn }}
    steps:
    - name: Enable long paths
      run: git config --global core.longpaths true
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/set-env-vars-and-secrets@main
      with: 
        environmentVariablesYamlBase64: ${{ inputs.testPhaseEnv}}
        secretsYamlBase64: ${{ secrets.testPhaseSecrets}}
        secretsEncryptionKey: ${{ secrets.secretsEncryptionKey }}
    - name: Debug Variables
      if: env.ACTIONS_RUNNER_DEBUG == 'true'
      run: |
        gci env:/ | fl | out-string | Write-Host
      shell: pwsh
    - name: Check if testPhaseAzureCredentials secret is set
      id: testPhaseAzureCredentials_secret_check
      shell: bash
      run: |
        if [ "${{ secrets.testPhaseAzureCredentials }}" != '' ]; then
          echo "available=true" >> $GITHUB_OUTPUT;
        else
          echo "available=false" >> $GITHUB_OUTPUT;
        fi
    - name: Azure CLI login
      if: ${{ steps.testPhaseAzureCredentials_secret_check.outputs.available == 'true' }}
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5    # v2.3.0
      with:
        creds: ${{ secrets.testPhaseAzureCredentials }}
        enable-AzPSSession: true
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/run-scripted-build@main
      with:
        displayName: Run Tests
        buildScriptPath: ${{ inputs.buildScriptPath }}
        netSdkVersion: ${{ inputs.netSdkVersion }}
        additionalNetSdkVersion: ${{ inputs.additionalNetSdkVersion }}
        tasks: 'Test'
        configuration: ${{ inputs.configuration }}
        inputCacheKeySuffix: compile
        inputCachePaths: |
          .nuget-packages
          Solutions
          solutions
          ${{ inputs.additionalCachePaths }}
        artifactName: ${{ inputs.testArtifactName }}
        artifactPath: ${{ inputs.testArtifactPath }}
      env:
        # TODO: Add equivalent env var overrides for use with ZeroFailed
        # Set build to produce .trx test results file which will be picked-up when publishing test results
        BUILDVAR_DotNetTestLoggers: >
          [
            "trx;LogFilePrefix=test-results_"
          ]
    - id: check_coverage_summary
      name: Check Code Coverage Summary Output
      if: always()
      run: |
        # check if the code coverage summary file exists, but ensure the build doesn't fail if it can't be found
        try {
          $coverageFile = Join-Path $env:CODE_COVERAGE_SUMMARY_DIR $env:CODE_COVERAGE_SUMMARY_FILE
          Write-Host "Checking for code coverage file: $coverageFile"
          if (Test-Path $coverageFile) {
            Write-Host "Code coverage summary file exists"
            echo "EXISTS=true" >> $env:GITHUB_OUTPUT
          }
        }
        catch {}
      shell: pwsh
    - id: check_os
      name: Check Runner OS
      if: always()
      run: |
        # store the runner's operating system (i.e. distinct from the OS version info available via runner image)
        if ($IsWindows) {
          $RunnerOs = "windows"
        } 
        elseif ($IsLinux) {
            $RunnerOs = "linux"
        }
        elseif ($IsMacOS) {
            $RunnerOs = "macos"
        }
        else {
            $RunnerOs = "Unknown"
        }
        Write-Host "Runner OS: $RunnerOs"
        echo "RUNNEROS=$RunnerOs" >> $env:GITHUB_OUTPUT
      shell: pwsh
    - name: Add Code Coverage PR comment
      # Builds run from forks will not have permission to annotate the PR
      if: |
        always() &&
        steps.check_coverage_summary.outputs.EXISTS == 'true' &&
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.repository
      uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405    # v2.9.4
      with:
        recreate: true
        path: ${{ env.CODE_COVERAGE_SUMMARY_DIR }}/${{ env.CODE_COVERAGE_SUMMARY_FILE }}
        header: ${{ inputs.runsOn }}
    # Conditional test result publishing as we can't use the docker version of the action on Windows
    - name: Publish Test Results (Linux)
      uses: EnricoMi/publish-unit-test-result-action@170bf24d20d201b842d7a52403b73ed297e6645b   # v2.18.0
      if: always() && steps.check_os.outputs.RUNNEROS == 'linux'
      with:
        nunit_files: "*TestResults.xml"    # produced by Pester
        trx_files: "**/test-results_*.trx" # produced by dotnet test
        junit_files: "**/*-test-results.xml" # produced by PyTest & Behave
    - name: Publish Test Results (Windows)
      uses: EnricoMi/publish-unit-test-result-action/windows@170bf24d20d201b842d7a52403b73ed297e6645b   # v2.18.0
      if: always() && steps.check_os.outputs.RUNNEROS == 'windows'
      with:
        nunit_files: "*TestResults.xml"    # produced by Pester
        trx_files: "**/test-results_*.trx" # produced by dotnet test
        junit_files: "**/*-test-results.xml" # produced by PyTest & Behave

  package:
    needs:
    - compile
    name: Package
    runs-on: ${{ inputs.runsOn }}
    steps:
    - name: Enable long paths
      run: git config --global core.longpaths true
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
      with:
        fetch-depth: 0
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/set-env-vars-and-secrets@main
      with: 
        environmentVariablesYamlBase64: ${{ inputs.packagePhaseEnv}}
        secretsYamlBase64: ${{ secrets.packagePhaseSecrets}}
        secretsEncryptionKey: ${{ secrets.secretsEncryptionKey }}
    - name: Debug Variables
      if: env.ACTIONS_RUNNER_DEBUG == 'true'
      run: |
        gci env:/ | fl | out-string | Write-Host
      shell: pwsh   
    - name: Check if packagePhaseAzureCredentials secret is set
      id: packagePhaseAzureCredentials_secret_check
      shell: bash
      run: |
        if [ "${{ secrets.packagePhaseAzureCredentials }}" != '' ]; then
          echo "available=true" >> $GITHUB_OUTPUT;
        else
          echo "available=false" >> $GITHUB_OUTPUT;
        fi
    - name: Azure CLI login
      if: ${{ steps.packagePhaseAzureCredentials_secret_check.outputs.available == 'true' }}
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5    # v2.3.0
      with:
        creds: ${{ secrets.packagePhaseAzureCredentials }}
        enable-AzPSSession: true     
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/run-scripted-build@main
      with:
        displayName: Build Packages
        buildScriptPath: ${{ inputs.buildScriptPath }}
        netSdkVersion: ${{ inputs.netSdkVersion }}
        additionalNetSdkVersion: ${{ inputs.additionalNetSdkVersion }}
        tasks: 'Package'
        configuration: ${{ inputs.configuration }}
        inputCacheKeySuffix: compile
        inputCachePaths: |
          .nuget-packages
          Solutions
          solutions
          ${{ inputs.additionalCachePaths }}
        outputCacheKeySuffix: package
        outputCachePaths: |
          _packages
          ${{ inputs.additionalCachePaths }}

  publish:
    needs:
    - compile
    - test
    - package
    name: Publish
    if: inputs.forcePublish || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
    - name: Enable long paths
      run: git config --global core.longpaths true
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8   #v5.0.0
      with:
        fetch-depth: 0
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/set-env-vars-and-secrets@main
      with: 
        environmentVariablesYamlBase64: ${{ inputs.publishPhaseEnv}}
        secretsYamlBase64: ${{ secrets.publishPhaseSecrets}}
        secretsEncryptionKey: ${{ secrets.secretsEncryptionKey }}
    - name: Debug Variables
      if: env.ACTIONS_RUNNER_DEBUG == 'true'
      run: |
        gci env:/ | fl | out-string | Write-Host
      shell: pwsh    
    - name: Check if publishPhaseAzureCredentials secret is set
      id: publishPhaseAzureCredentials_secret_check
      shell: bash
      run: |
        if [ "${{ secrets.publishPhaseAzureCredentials }}" != '' ]; then
          echo "available=true" >> $GITHUB_OUTPUT;
        else
          echo "available=false" >> $GITHUB_OUTPUT;
        fi
    - name: Azure CLI login
      if: ${{ steps.publishPhaseAzureCredentials_secret_check.outputs.available == 'true' }}
      uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5    # v2.3.0
      with:
        creds: ${{ secrets.publishPhaseAzureCredentials }}
        enable-AzPSSession: true    
    - uses: endjin/Endjin.RecommendedPractices.GitHubActions/actions/run-scripted-build@main
      with:
        displayName: Publish Packages
        buildScriptPath: ${{ inputs.buildScriptPath }}
        netSdkVersion: ${{ inputs.netSdkVersion }}
        additionalNetSdkVersion: ${{ inputs.additionalNetSdkVersion }}
        tasks: 'Publish'
        inputCacheKeySuffix: package
        inputCachePaths: |
          _packages
          ${{ inputs.additionalCachePaths }}
        artifactName: ${{ inputs.publishArtifactName }}
        artifactPath: ${{ inputs.publishArtifactPath }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NUGET_API_KEY: ${{ env.NUGET_API_KEY }}
